absl-py==2.1.0
altgraph==0.17.4
blinker==1.8.2
cachetools==5.5.0
certifi==2024.8.30
charset-normalizer==3.3.2
click==8.1.7
cloudpickle==3.0.0
contourpy==1.3.0
cycler==0.12.1
Farama-Notifications==0.0.4
filelock==3.16.1
Flask==3.0.3
fonttools==4.54.1
fsspec==2024.9.0
google-auth==2.35.0
google-auth-oauthlib==1.0.0
grpcio==1.66.2
gym==0.26.2
gym-notices==0.0.8
gymnasium==1.0.0
idna==3.10
itsdangerous==2.2.0
Jinja2==3.1.4
kiwisolver==1.4.7
-e git+ssh://git@github.com/tparki97/MancalaAI.git@8c7f9529f105bcedbd56c44d56438c4698a797e4#egg=mancala_ai
Markdown==3.7
MarkupSafe==2.1.5
matplotlib==3.7.1
mpmath==1.3.0
networkx==3.3
numpy==1.24.3
oauthlib==3.2.2
packaging==24.1
pillow==10.4.0
protobuf==5.28.2
pyasn1==0.6.1
pyasn1_modules==0.4.1
pyparsing==3.1.4
python-dateutil==2.9.0.post0
requests==2.32.3
requests-oauthlib==2.0.0
rsa==4.9
six==1.16.0
sympy==1.13.3
tensorboard==2.14.0
tensorboard-data-server==0.7.2
torch==2.0.1
torchaudio==2.2.2
torchvision==0.17.2
typing_extensions==4.12.2
urllib3==2.2.3
Werkzeug==3.0.4
pandas==1.3.0
